
 html {
	height: 100%;	

}
body {
  font-family: Arial, sans-serif;
  background-image: url('togetherimg.jpeg');
  background-repeat: no-repeat;
  height:100%;
  text-align: center;
  
  justify-content: center;
  background-size: cover;
}

.main {
  
  margin: 10px;

}

.box {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  width: 400px;
  height: 500px;
  padding: 15px;
  background: rgba(212, 199, 138, 0.8);
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px 0px;
  margin: 5px 5px 25px 0;
  border:none;
  border-radius: 25px;
  text-align: center;
}

#name {
  width: 48%;

}

.btn {
  background-color: #ddbc28;
  color: rgb(0, 0, 0);
  padding: 15px 5px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 20px;
  border-radius: 25px;
  opacity: 0.9;
}

.pass {
  text-align: left;
  margin: 10px;
}

.path {
  font-size: 20px;
 
}
.font{
  font-family:cursive;
}