html {
	height: 100%;	
  font-family: 'Nunito', sans-serif;

}
body {
  background-image: url('#');
  background-repeat: no-repeat;
  height:100%;
  text-align: center;
  
  justify-content: center;
  background-size: cover;
}

.main {
  margin: 10px;
}

.box {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  width: 400px;
  height: 500px;
  padding: 15px;
  background: rgb(83, 82, 76);
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px 0px;
  margin: 5px 5px 25px 0;
  border:none;
  border-radius: 25px;
  text-align: center;
}

#name {
  width: 48%;

}

.btn {
  background-color: #3f3e44;
  color: rgb(255, 255, 255);
  padding: 15px 5px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 20px;
  border-radius: 25px;
  opacity: 0.9;
}

.pass {
  text-align: left;
  margin: 10px;
 
}
.pass a{
  color: aliceblue;
  text-decoration: none;
} 
button a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.path a{
  text-decoration: none;
  color: aliceblue;
}
